<IfModule mod_rewrite.c>

    Options -MultiViews
    RewriteEngine On

    # Define files that a user is allowed to access

    ## Jquery
    RewriteCond %{REQUEST_URI} !^/vendor/components/jquery/jquery.js

    ## Boostrap
    RewriteCond %{REQUEST_URI} !^/vendor/twbs/bootstrap/dist/css/bootstrap.css
    RewriteCond %{REQUEST_URI} !^/vendor/twbs/bootstrap/dist/js/bootstrap.js

    ## Custom styles
    RewriteCond %{REQUEST_URI} !^/web/style/style.css

    ## Custom javascripts
    RewriteCond %{REQUEST_URI} !^/web/scripts/javascript.js
    RewriteCond %{REQUEST_URI} !^/web/scripts/pizzaGenerator.js
    RewriteCond %{REQUEST_URI} !^/web/scripts/pizzaMenuCard.js
    RewriteCond %{REQUEST_URI} !^/web/scripts/pizzaOrder.js


    # Redirect all other uris to web/index.php
    RewriteRule ^ web/index.php [QSA,L]

</IfModule>
