.pizza-action input.form-control {
    width: 80px;
}

.pizza-counter {
    background: #2a2730;
    color: #fff;
    border-radius: 25px;
    padding: 2px 10px;
}

div#message {
    height: 52px;
    margin-bottom: 20px;
}

/* Hide the spinner buttons for number inputs in the address input field in firefox */
.address-input-field input[type=number]::-webkit-outer-spin-button,
.address-input-field input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.address-input-field input[type=number] {
    -moz-appearance:textfield;
}


/* /web/order/index.php */
.totalPrice {
    font-weight: bold;
}

.address-input-field {
    background: none;
}
.address-input-field div.row {
    margin: 0 0 10px;
}

/* /web/pizza-generator/ */
.generate-pizza-button {
    margin: 0 0 20px;
}

/** Ingredient table ***/
.ingredient-table.table td {
    padding: 0;
    margin: 0;
}
.ingredient-table tr td:nth-child(2) {
    border-right: 1px solid #ddd;;
}

/*** Ingredient table labels ***/
.ingredient-table label {
    display: block;
    padding: 8px;
    margin: 0;
    height: 100%;
    width: 100%;
}
.ingredient-table label:hover {
    cursor: pointer;
}

/*** Ingredient table cells with checkboxes **/
.ingredient-table tr td:nth-child(2n+0) {
    text-align: center;
}
