<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PizzaService</title>

    <!-- JQuery -->
    <script src="/vendor/components/jquery/jquery.js"></script>

    <!-- Bootstrap -->
    <link href="/vendor/twbs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <script src="/vendor/twbs/bootstrap/dist/js/bootstrap.js"></script>

    <!-- Custom styles -->
    <link href="/web/style/style.css" rel="stylesheet">

    <!-- Custom javascript -->
    <script src="/web/scripts/javascript.js"></script>
    <script src="/web/scripts/{%PAGE_JAVESCRIPT%}"></script>

</head>
