{#
 # @file
 # @version 0.1
 # @copyright 2017-2018 CN-Consult GmbH
 # @author Yannick Lapp <yannick.lapp@cn-consult.eu>
 #}
<div class="row well col-md-10 col-md-offset-1 address-input-field">

    <form class="form-inline">

        <div class="row">

            <label for="firstName" class="col-md-2">Vorname</label>
            <input type="text" name="firstName" id="firstName" class="col-md-3 form-control" required>

            <label for="lastName" class="col-md-2">Nachname</label>
            <input type="text" name="lastName" id="lastName" class="col-md-3 form-control" required>

        </div>

        <div class="row">

            <label for="streetName" class="col-md-2">Straße</label>
            <input type="text" name="streetName" id="streetName" class="col-md-3 form-control" required>

            <label for="houseNumber" class="col-md-2">Hausnummer</label>
            <input type="number" name="houseNumber" id="houseNumber" class="col-md-3 form-control" required>

        </div>

        <div class="row">

            <label for="zip" class="col-md-2">PLZ</label>
            <input type="number" name="zip" id="zip" class="col-md-3 form-control" required>

            <label for="city" class="col-md-2">Stadt</label>
            <input type="text" name="city" id="city" class="col-md-3 form-control" required>

        </div>

        <div class="row">

            <button type="submit"
                    class="btn btn-primary col-md-2 col-md-offset-10 order-button"
                    {% if pizzas|length == 0 %}disabled{% endif %}>Bestellen</button>

        </div>

    </form>

</div>
